.tag {
  background: var(--background-color);
  border: 1px solid var(--borderColorDim);
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--bodyColor);
  display: inline-block;
  font-size: var(--ts-1);
  font-variant: tabular-nums;
  height: auto;
  line-height: 20px;
  list-style: none;
  margin: 0 8px 0 0;
  padding: 0 7px;
  opacity: 1;
  transition: all 0.3s;
  white-space: nowrap;
}

.tag-red {
  color: var(--tag-colored-fg);
  background: var(--tag-red);
  border-color: var(--tag-red);
}

.tag-green {
  color: var(--tag-colored-fg);
  background: var(--tag-green);
  border-color: var(--tag-green);
}

.tag-blue {
  color: var(--tag-colored-fg);
  background: var(--tag-blue);
  border-color: var(--tag-blue);
}
