.about a {
  text-decoration: underline;
}

.proof-policy {
  li {
    margin: 0.25em;
  }

  figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 400px;
    margin: 1rem auto;

    figcaption {
      background-color: #222;
      color: #fff;
      font: italic smaller sans-serif;
      padding: 3px;
      text-align: center;
    }
  }
}
