.login {
  margin-top: -76px; /* header height */
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'main detail';
  background: var(--background-color);
  @media (max-width: 768px) {
    grid-template-columns: 100% 0;
  }
}

.login > *:last-child {
  grid-area: main;
  place-self: center;
  padding: 10px;
  width: 100%;
  max-width: 360px;
  /* NOTE: If the login or signup for becomes taller, this value needs to be adjusted to componsate. */
  @media (max-height: 700px) {
    place-self: start center;
    margin-top: 76px; /* Headier height */
  }
  @media (min-width: 1230px) {
    margin-left: calc(50vw - 615px);
  }
}

.login > *:first-child {
  grid-area: detail;
  background-image: url('../../../images/bg-login.jpg');
  /* Avergage color of image */
  background-color: #776556;
  background-size: cover;
  background-position: 64% center;
  background-repeat: no-repeat;
}
