.grid-form {
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  justify-items: stretch;
  justify-content: stretch;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 1fr);
  * {
    grid-column: span 6;
  }
}

.grid-col-1,
.grid-col-2,
.grid-col-3,
.grid-col-4,
.grid-col-5,
.grid-col-6 {
  grid-column: span 6;
}

@media (min-width: 992px) {
  .grid-col-1 {
    grid-column: span 1;
  }
  .grid-col-2 {
    grid-column: span 2;
  }
  .grid-col-3 {
    grid-column: span 3;
  }
  .grid-col-4 {
    grid-column: span 4;
  }
  .grid-col-5 {
    grid-column: span 5;
  }
  .grid-col-6 {
    grid-column: span 6;
  }
}
