.leaderboard {
  margin-top: 1rem;
  border-radius: 5px;
  background: var(--background-color);
  overflow: hidden;
  border: 1px solid var(--borderColor);
  z-index: -1000;
}

.leaderboard__item {
  position: relative;
  padding: 4px 15px;
  background: var(--background-color);
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  place-items: center start;
  margin-top: -1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  &:hover {
    background-color: var(--body-background);
    color: var(--bodyColor);
    text-decoration: none;
  }

  //gap: 10px;
  & > * {
    margin-left: 10px;
  }

  & > *:nth-child(1) {
    width: 4ch;
  }

  & > *:nth-child(2) {
    flex: 10 0 auto;
  }

  // Split stats into its own "row" when the screen gets too small
  @media (max-width: 580px) {
    & > .stats-row--long {
      flex: 10 0 100%;
    }
  }
}

.leaderboard__item--player {
  display: flex;
  place-items: center start;
  margin-top: -1px;
  gap: 10px;
}

.leaderboard__item[role='link'] {
  color: var(--bodyColor);
  text-decoration: none;
  &:focus {
    outline: 2px solid var(--outlineColor);
    outline-offset: -2px;
    z-index: 1;
  }
}

.leaderboard__item a:hover,
.leaderboard__item [role='link']:hover {
  text-decoration: underline;
}

.number {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.number > div:first-child {
  font-weight: 600;
}

.number > div:last-child {
  color: var(--dimBodyColor);
  font-size: var(--ts-1);
  font-weight: 600;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: -0.2em;
}

.leaderboard--expandable {
  position: relative;
}

.leaderboard__expand {
  margin: auto;
  margin-top: 20px;
  display: block;
}

.leaderboard__item--animated {
  position: relative;
}

.stats-row {
  display: flex;
  align-items: center;
  //justify-content: space-between;
  //gap: 10px;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}

@keyframes font-effect-fire-animation-keyframes {
  0% {
    text-shadow: 0 -0.05em 0.2em #fff, 0.01em -0.02em 0.15em #fe0,
      0.01em -0.05em 0.15em #fc0, 0.02em -0.15em 0.2em #f90,
      0.04em -0.2em 0.3em #f70, 0.05em -0.25em 0.4em #f70,
      0.06em -0.2em 0.9em #f50, 0.1em -0.1em 1em #f40;
  }
  25% {
    text-shadow: 0 -0.05em 0.2em #fff, 0 -0.05em 0.17em #fe0,
      0.04em -0.12em 0.22em #fc0, 0.04em -0.13em 0.27em #f90,
      0.05em -0.23em 0.33em #f70, 0.07em -0.28em 0.47em #f70,
      0.1em -0.3em 0.8em #f50, 0.1em -0.3em 0.9em #f40;
  }
  50% {
    text-shadow: 0 -0.05em 0.2em #fff, 0.01em -0.02em 0.15em #fe0,
      0.01em -0.05em 0.15em #fc0, 0.02em -0.15em 0.2em #f90,
      0.04em -0.2em 0.3em #f70, 0.05em -0.25em 0.4em #f70,
      0.06em -0.2em 0.9em #f50, 0.1em -0.1em 1em #f40;
  }
  75% {
    text-shadow: 0 -0.05em 0.2em #fff, 0 -0.06em 0.18em #fe0,
      0.05em -0.15em 0.23em #fc0, 0.05em -0.15em 0.3em #f90,
      0.07em -0.25em 0.4em #f70, 0.09em -0.3em 0.5em #f70,
      0.1em -0.3em 0.9em #f50, 0.1em -0.3em 1em #f40;
  }
  100% {
    text-shadow: 0 -0.05em 0.2em #fff, 0.01em -0.02em 0.15em #fe0,
      0.01em -0.05em 0.15em #fc0, 0.02em -0.15em 0.2em #f90,
      0.04em -0.2em 0.3em #f70, 0.05em -0.25em 0.4em #f70,
      0.06em -0.2em 0.9em #f50, 0.1em -0.1em 1em #f40;
  }
}

.font-effect-fire-animation {
  animation-duration: 0.8s;
  animation-name: font-effect-fire-animation-keyframes;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.death-toll {
  color: #ffe;
  font-size: var(--ts-8);
  font-weight: 600;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.doomsday-countdown {
  font-size: var(--ts-8);
  font-weight: 600;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@keyframes blink-red {
  0% {
    color: var(--bodyColor);
  }
  50% {
    color: var(--bodyColor);
  }
  80% {
    color: red;
  }
  90% {
    color: red;
  }
  100% {
    color: var(--bodyColor);
  }
}
