.add-score + .add-score {
  margin-top: 20px;
}

.add-score {
  background-color: var(--background-color);
  border: 1px solid var(--borderColor);
}

.add-score__header {
  border-bottom: 1px solid var(--borderColor);
  padding: 0 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin: 12px 0;
    font-weight: 600;
  }
}

.add-score__footer {
  padding: 0.5em 0.8em;
  display: flex;
  justify-content: flex-end;
  & > *:not(:first-child) {
    margin-left: 15px;
  }
}

.add-score__content {
  h2 {
    margin: 0;
  }
  h3 {
    margin: 0;
  }
  h4 {
    font-weight: 400;
    margin: 0;
  }
  p {
    font-size: 16px;
    margin-top: 0.5em;
    color: var(--mediumBodyColor);
  }
  textarea {
    width: 100%;
    resize: vertical;
  }
}

.form-section {
  border-bottom: 1px solid var(--borderColor);
  padding: 0.5em 0.8em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
}

.form-section__form {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;

  > :not(:last-child) {
    margin-bottom: 0.75em;
  }
}

.form-error {
  margin-left: 0.5em;
  font-size: 0.75em;
  color: red;
}

.span-1 {
  grid-column-end: span 1;
}

.span-2 {
  grid-column-end: span 2;
}

.span-6 {
  grid-column-end: span 6;
}

.span-8 {
  grid-column-end: span 8;
}

.form-group {
  input,
  select,
  textarea {
  }
  select {
  }
}

.alert {
}

[data-reach-dialog-overlay] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TODO Make this alert specific */
[data-reach-dialog-content] {
  background: var(--background-color);
  padding: 30px;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  position: relative;
  border-radius: 5px;
  max-width: 65vw;
}

[data-reach-alert-dialog-label] {
  font-weight: 600;
  margin: 0 0 0.5em 0;
}

.dialog-close-button {
  position: absolute;
  top: 6px;
  right: 10px;
  padding: 0 5px 0 5px;
}
