.progress {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.progress-inner {
  display: inline-block;
  position: relative;
  background-color: var(--background-color);
  width: 100%;
  overflow: hidden;
  border: 1px solid var(--borderColor);
  border-radius: 100px;
}

.progress-inner__filled {
  height: 8px;
  position: relative;
  background-color: var(--highlightColor);
  border-radius: 100px;
  transition: all 0.4s cubic-bezier(0.1, 0.8, 0.2, 1) 0s;
}
