.nav {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  a {
    color: var(--bodyColor);
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  .nav-link {
    padding: 0 4px;
  }
}

.nav--modes {
  padding: 0px 5px;
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  margin-left: -5px;
  margin-right: -5px;
  overflow-x: auto;
  .nav-link {
    padding: 20px 8px;
    &:after {
      bottom: 0px;
    }
  }
  @media (min-width: 650px) {
  }
}

.nav__icon {
  stroke: var(--mediumBodyColor);
  width: 26px;
  height: 26px;
  transition: fill 0.2s, stroke 0.2s;
  &:hover {
    stroke: var(--dimBodyColor);
  }
  @media (max-width: 499px) {
    width: 22px;
    height: 22px;
  }
}

.dark-theme .nav__icon {
  stroke: var(--dimBodyColor);
  &:hover {
    stroke: var(--mediumBodyColor);
  }
}

.nav__icon--moon {
  stroke: none;
  fill: var(--mediumBodyColor);
  &:hover {
    stroke: none;
    fill: var(--dimBodyColor);
  }

  .dark-theme & {
    fill: var(--dimBodyColor);
    stroke: none;
    &:hover {
      stroke: none;
      fill: var(--mediumBodyColor);
    }
  }
}

.nav__icon--translate {
  height: 22px;
  margin-right: 5px;
}

a.nav-link {
  position: relative;
  text-align: center;
  white-space: nowrap;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    pointer-events: none;
    transition: background-color 0.2s;
  }
}

[data-bold-toggle] {
  position: relative;
  display: inline-block;
  /* pre calculates bold size to prevent gitter when changing weights */
  &:before {
    content: attr(data-bold-toggle);
    display: block;
    font-weight: 600;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
  }
}

a.nav-link:hover:not(.nav-link--active) {
  &:after {
    background-color: var(--dimBodyColor);
  }
}

a.nav-link--active {
  color: var(--highlightColor);
  font-weight: 600;
  &:after {
    background-color: var(--highlightColor);
  }
}
