.leaderboard-title {
  font-size: var(--ts-8);
  font-weight: 600;
  margin-top: 0.25em;
}

.leaderboard-title__sub {
  font-size: var(--ts-6);
  font-weight: 600;
}

.leaderboard-description {
  margin-top: 0.5em;
}
