.notifications {
  display: flex;
  align-items: center;
  position: relative;
  &:hover {
    cursor: pointer;
    .bell {
      fill: var(--mediumBodyColor);
    }
  }
}

.notifications__count {
  --size: 14px;
  min-width: calc(var(--size) - 4px);
  height: var(--size);
  background: var(--notification-color);
  color: white;
  position: absolute;
  font-size: var(--ts-0);
  border-radius: 9px;
  line-height: var(--size);
  display: flex;
  justify-content: center;
  font-weight: 600;
  border: 2px solid var(--background-color);
  box-sizing: content-box;
  top: -4px;
  right: -5px;
  padding: 0 2px;
}

.bell {
  fill: var(--dimBodyColor);
  width: 22px;
  height: 22px;
  transition: fill 0.2s;
}
