.score-details__grid {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  h3 {
    margin-bottom: 5px;
  }
}

.score-details__grid--header {
  margin-top: 20px;
  background: var(--background-color);
  background: linear-gradient(135deg, var(--background-color), transparent);
  border-radius: 10px;
  padding: 16px 20px;
}

.score-details__game {
  font-size: var(--ts-4);
}

.score-details__rank {
  font-size: var(--ts-2);
}

.score-details__info {
  padding: 0 20px;
  text-align: center;
  & > * {
    margin: 1em 0;
  }
}

.score-details__status {
  text-align: right;
  & > time {
    font-size: var(--ts-3);
  }
  & > div {
    font-size: var(--ts-2);
    opacity: 0.6;
  }
}

.score-details__comment {
  word-break: break-word;
  font-size: var(--ts-1);
  font-style: italic;
  p {
    white-space: pre-line;
  }
}

.score-details__actions {
  border-top: 1px solid var(--borderColor);
  padding-top: 15px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.score-details__stats {
  display: grid;
  grid-auto-flow: column;
  & > div {
    & > div:first-child {
      font-size: var(--ts-3);
      font-weight: 600;
      margin-bottom: 5px;
    }
    & > div:last-child {
      font-size: var(--ts-2);
      opacity: 0.8;
    }
  }
}

/* Proof next/prev buttons */
.score-details__button {
  width: 25px;
  display: block;
  margin: 15px;
  flex-shrink: 0;
  line-height: 0;
  svg {
    vertical-align: middle;
  }
}

.score-details__proof {
  color: var(--bodyColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 650px) {
    margin-left: -15px;
  }
  margin-right: calc(-1 * var(--main-padding));
}

.score-details__proof-container {
  width: 100%;
  position: relative;
  &:after {
    content: '';
    display: block;
    padding-top: 56.5%;
  }
  // When there is only one proof link we don't show the arrows.
  // To keep the container size the same without them we adjust the width here.
  &:first-child {
    margin: 0 55px;
  }
}

.score-details__proof-twitter {
  &.score-details__proof-twitter--ready {
    margin-bottom: -56.25%;
  }
  .twitter-tweet {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.score-details__proof-other {
  word-break: break-all;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.score-details__proof-image {
  img {
    object-fit: contain;
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.score-details__proof-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  iframe {
    width: 100%;
    height: 100%;
    background: black;
    vertical-align: middle;
  }
}

.verification-form {
  display: flex;
  flex-direction: column;
  & > *:not(:last-child) {
    margin-bottom: 1em;
  }
}
