.rankedScoreCount {
    font-size: 0.6em;
}

.grade-line--green {
    box-shadow: inset 0 -2px 0 green;
}

.dark-theme .grade-line--green {
    box-shadow: inset 0 -2px 0 #8bc34a;
}

.grade-line--orange {
    box-shadow: inset 0 -2px 0 orange;
}

.dark-theme .grade-line--orange {
    box-shadow: inset 0 -2px 0 #D78F52;
}